html {
    font-family: sans-serif;
}
body {
    display: flex;
    margin: 0;
}
main {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#3e3e3e 25%, #ff0000);
}

.jogarNovamente {
    background-color: #00ff22;
    outline: none;
    border: 1px #000 solid;
    align-items: center;
    border-radius: 5px;
    padding-inline: 20px;
    height: 30px;
    margin-top: 20px;
    gap: 10px;
}
.botoes {
    outline: none;
    background-color: #ff0000;
    border: 1px #000 solid;
    align-items: center;
    border-radius: 5px;
    padding-inline: 20px;
    height: 30px;
    margin-top: 20px;
    gap: 10px;
}
.divSimples {
    display: flex;
    width: 200px;
    min-height: 350px;
    background-color: #fff;
    word-wrap: normal;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 10px;
    line-break: auto;
}
.flex {
    display: flex;
}

.sections-center {
    display: flex;
    width: 100%;
    min-height: 350px;
    align-self: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.borda {
    border-radius: 25px;
    border: #000 1px solid;
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.3);
}
.inputBorda {
    display: flex;
    width: fit-content;
    border-radius: 25px;
    width: 250px;
    height: 50px;
    text-align: center;
    outline: none;
}

#nomeIndividuo {
    font-size: 30px;
}

form {
    display: flex;
    width: 350px;
    background-color: #3e3e3e;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
